.tweetFeed{
    display:flex;
    flex-direction: column;
    width: 40%;
    height: 250px;
    margin: auto;
    background-color: #E6E6E6;
    border-radius: 30px;
    margin-top: 20px;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.tweet{
    display: flex;
    justify-content: left;
    padding-left: 20px;
}
.followBtn{
    display: flex;
    width: 100px;
    height: 40px;    
    align-self: right;
    text-align: center;
    background-color: #1DA1F1;
    border: none;
    border-radius: 20px;
}